@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 159, 237);
}

#name {
    margin: 15px 0px;
}

.main {
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.name {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    padding: 8px 16px;
    background-color: rgb(199, 159, 237);
}

.name span {
    color: #7f4545;
}

#name-input {
    font-size: 20px;
    font-weight: 700;
    flex-grow: 1;
    color: black;
    border: none;
    margin: 0px 10px;
    outline: none;
    background-color: rgb(199, 159, 237);

}

.message-container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-left,
.message-right {
    list-style: none;
    padding: 10px, 12px;
    margin: 15px;
    max-width: 500px;
    font-size: 20px;
    word-wrap: break-word;
}

.message-left {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: white;
    box-shadow: -2px 2px 4px lightslategray;
}

.message-right {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: rgb(92, 149, 184);
    box-shadow: 2px 2px 4px lightslategray;

}

.message-left>p>span,
.message-right>p>span {
    display: block;
    font-style: italic;
    font-size: 10px;
    margin-top: 5px;
}

.message-right>p>span {
    font-size: 10px;
    margin-left: 10px;
}

.feedback {
    font-style: oblique;
    font-size: 15px;
    padding: 0px 16px 16px 16px;
    color: rgb(51, 51, 36);
    text-align: center;
}

.message-form {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.message-input {
    flex-grow: 1;
    height: 48px;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: white;

}

.send-button {
    height: 48px;
    font-size: 15;
    border: none;
    outline: none;
    padding: 0px 20px;
    background-color: white;
    cursor: pointer;
}

.v-divider {
    height: 48px;
    width: 2px;
    background-color: rgb(223, 218, 218);
}

.clients-total {
    margin: 20px 0;
    color: rgb(51, 51, 36);
}